@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'NanumSquare';
}
a {
  text-decoration: none;
}
.wrap {
  width: 100%;
  height: 4800px;
}
.header {
  width: 100%;
  height: 780px;
  background: url(../img/문주.png) ;
  background-size: cover;
  margin-bottom: 80px;
}
.nav {
  width: 100%;
  height: 85px;
  background-color: white;
  display: flex;
  justify-content: space-around;
}
.nav .nav1 {
  display: flex;
}
.nav .nav2 {
  display: flex;
}
.nav li {
  list-style: none;
  color: rgb(5, 72, 92);
  line-height: 85px;
  margin: 0 35px 0 35px;
  font-size: 18px;
}
.nav img {
  margin-top: 10px;
}
.body {
  display: flex;
  justify-content: space-around;
  padding: 0 60px ;
}
.youtube {
  border: 1px solid black;
  width: 900px;
  height: 500px;
}
.notice {
  width: 420px;
  height: 500px;
  border: 10px solid rgb(5, 72, 92);
  padding: 0 20px;
}
.note {
  width: 360px;
  height: 80px;
  border-bottom: 5px solid rgb(5, 72, 92);
}
.catalog {
  margin-top: 100px;
  width: 100%;
  height: 1800px;
  background: rgb(5, 72, 92);
}
.card1, .card2, .card3, .card4 {
  width: 600px;
  height: 700px;
  margin: 94px;
  background-color: white;
  display: inline-block;
}
.pic1{
  width: 600px;
  height: 450px;
  background: url(../img/검단.png);
  background-size: cover;
}
.pic2{
  width: 600px;
  height: 450px;
  background: url(../img/평택.png);
  background-size: cover;
}
.pic3{
  width: 600px;
  height: 450px;
  background: url(../img/위례.png);
  background-size: cover;
}
.pic4{
  width: 600px;
  height: 450px;
  background: url(../img/시흥.png);
  background-size: cover;
}
.memo {
  margin: 100px 0 100px 90px;
  width: 280px;
  height: 420px;
  border: 10px solid rgb(5, 72, 92);
  padding: 0 20px;
  display: inline-block;
}
.line {
  width: 220px;
  height: 80px;
  border-bottom: 5px solid rgb(5, 72, 92);
}
.scrlink {
  display: flex;
}
.scrap {
  width: 65%;
  height: 460px;
}
.scrap h1 {
  margin-left: 90px;
}
.news {
  width: 750px;
  height: 412px;
  background: black;
  margin: 10px 0 0 90px;
}
.link {
  width: 35%;
  float: right;
}
.link h2 {
  line-height: 65px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
}
.naver, .kakao, .channel, .facebook{
  display: flex;
  margin: 50px 0 0 0; 
}
.desk {
  width: 100%;
  height: 220px;
  background-color: rgb(163, 151, 135);
  position: relative;
  top: 200px;
}
.client1 {
  width: 450px;
  height: 220px;
  background-color: rgb(67, 74, 93);
  position: absolute;
  bottom: 70px;
  left: 170px;
}
.client2, .client3, .client4 {
  width: 200px;
  height: 220px;
  background-color: whitesmoke;
  position: absolute;
  bottom: 70px;
}
.client2 {
  right: 180px;
}
.client3 {
  right: 420px;
}
.client4 {
  right: 660px;
}
.footer {
  width: 100%;
  height: 200px;
  background-color: rgb(92, 100, 103);
  top: 300px;
  position: relative;
}